
target/classes/application.properties
target/classes/com/bibliotecasofka/demo/DemoApplication.class
target/classes/com/bibliotecasofka/demo/model/Recurso.class
target/classes/com/bibliotecasofka/demo/model/Tematica.class
target/classes/com/bibliotecasofka/demo/repository/AreaTematicaRepository.class
target/classes/com/bibliotecasofka/demo/repository/RecursoRepository.class
target/test-classes/com/bibliotecasofka/demo/DemoApplicationTests.class
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
.idea/sonarlint/issuestore/0/3/037324b0251e288b0432aa5ca855c6864c562851
.idea/sonarlint/issuestore/1/5/15a442d7db398a27f9ff03c368cda04a9c80f376
.idea/sonarlint/issuestore/3/d/3d77ee068656b9b07447f9ad6c8e079d69697281
.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
.idea/sonarlint/issuestore/5/4/549d8f77d2b929d88965f3f8413a98f9576fbc9a
.idea/sonarlint/issuestore/6/4/64676ac6ebd259c73ef5d8bb63c7f4e1525cee2b
.idea/sonarlint/issuestore/6/9/698a439caf2be24cc0909443ba2bc2af6bccd43e
.idea/sonarlint/issuestore/6/c/6c1ce9e3bd21a85e83afdacf1fb633c5814542ef
.idea/sonarlint/issuestore/9/f/9f1530900bd106b2c82a39b91fb56aa3479b6377
.idea/sonarlint/issuestore/a/5/a54d3b24dbd201374de56367b343c4151c86e43d
.idea/sonarlint/issuestore/a/5/a5db90b3923a2694f738cb9a262b0a7c964d62c0
.idea/sonarlint/issuestore/b/5/b5a2739c509bc2782d4a295e9db9c065e54ddb76
.idea/sonarlint/issuestore/f/7/f7e0a6d77b416b5f15ff2879a104c81e3662a0d9
